@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root.dark {
    --bg-color: linear-gradient(60deg, white, black);
    --title-color: rgb(18, 18, 18);
    --title-shadow: rgb(240, 240, 240);
    --subheading:  rgb(240, 240, 240):
}
  
:root.light {
    --border-btn: 1px solid rgb(36, 36, 36);
    --color-base-bg: rgb(240, 240, 240);
    --color-base-text: rgb(18, 18, 18);
    --color-btn-bg: rgb(220, 220, 220);
}

body {
    background: linear-gradient(60deg, black, white);
}

.game__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 10px #000;
    margin: 20px 0 100px 0;
    padding: 0;
    height: 100%;
}

.playerandcomputer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 40px 0;
    padding: 0;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.player__choice {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 35px;  
    transition: all 1.4s ease;
}

.game__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 300px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    margin: 0;
    padding: 50px 0 0 40px;
}

.game__score {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}

.image__selection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    gap: 200px;
    margin-top: 40px;
}

.image__selection img {
    width: 100px;
    height: 100px;
}

.selection {
    opacity: 0.5;
    transform: scale(1.2);
    transition: all 1.4s ease;
}

.selection.winner {
    opacity: 1;
    width: 150px;
    height: 150px;
    transform: scale(1.2);
    transition: all 1.4s ease;
}

.game__result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 30px 0;
    padding: 0;
    height: 100%;
}

.game__reset--btn {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 10px #000;
    padding: 10;
    height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    margin: 0;
    padding: 0;
}

.toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
}

img[alt = "moon"] {
    width: 30px;
    height: 30px;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 20px 1px;
}

.result__score {
    margin-left: .1rem;
    font-size: 1.5rem;
}
