@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root.dark {
    --bg-color: linear-gradient(60deg, white, black);
    --title-color: rgb(18, 18, 18);
    --title-shadow: 0 0 10px rgb(240, 240, 240);
    --btns-bg: rgb(18, 18, 18);
    --btns-shadow: 0 0 10px rgb(240, 240, 240);
    --sub-heading: rgb(240, 240, 240);
    --game-bg: rgb(18, 18, 18);
    --score: rgb(240, 240, 240);
    --restart-btn-color: rgb(18, 18, 18);
    --restart-btn-shadow: 0 0 10px rgb(240, 240, 240);

}
  
:root.light {
    --bg-color: linear-gradient(60deg, black, white);
    --title-color: rgb(240, 240, 240);
    --title-shadow: 0 0 10px rgb(18, 18, 18);
    --btns-bg: rgb(240, 240, 240);
    --btns-shadow: 0 0 10px rgb(18, 18, 18);
    --sub-heading: rgb(18, 18, 18);
    --game-bg: rgb(240, 240, 240);
    --score: rgb(18, 18, 18);
    --restart-btn-color: rgb(240, 240, 240);
    --restart-btn-shadow: 0 0 10px rgb(18, 18, 18);
}

body {
    background: var(--bg-color);
}

.game__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--title-color);
    text-shadow: var(--title-shadow);
    margin: 20px 0 100px 0;
    padding: 0;
    height: 100%;
}

h2,
.displayresult {
    color: var(--sub-heading);
}

.playerandcomputer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 40px 0;
    padding: 0;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.player__choice {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 35px;  
    transition: all 1.4s ease;
}

.game__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--btns-bg);
    box-shadow: var(--btns-shadow);
    margin: 0;
    padding: 50px 0 0 40px;
}

.you,
.computer {
    color: var(--score);
}

.game__score {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}

.image__selection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    gap: 200px;
    margin-top: 40px;
}

.image__selection img {
    width: 100px;
    height: 100px;
}

.selection {
    opacity: 0.5;
    transform: scale(1.2);
    transition: all 1.4s ease;
}

.selection.winner {
    opacity: 1;
    width: 150px;
    height: 150px;
    transform: scale(1.2);
    transition: all 1.4s ease;
}

.game__result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 30px 0;
    padding: 0;
    height: 100%;
}

.game__reset--btn {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--restart-btn-color);
    background-color: var(--restart-btn-color);
    text-shadow: var(--restart-btn-shadow);
    padding: 10;
    height: 100%;
}

.button,
.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--btns-bg);
    box-shadow: var(--btns-shadow);
    margin: 0;
    padding: 0;
}

.toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
}

img[alt = "logo"] {
    width: 300px;
    height: 300px;
}

img[alt = "sm"] {
    width: 30px;
    height: 30px;
}

img[alt = "rock"],
img[alt = "paper"],
img[alt = "scissors"] {
    width: 60px;
    height: 65px;
}

.button:hover,
.toggle:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 20px 1px;
}

.result__score {
    margin-left: .1rem;
    font-size: 1.5rem;
}
